 #navbar {
	text-align: center;
}

#container {
	position:fixed;
	top:45%;
	left:50%;
	transform: translate(-50%,-50%);
}

h1 {
	text-align: center;
	font-family: 'Roboto', cursive;
	font-size: 3.81em;
	color: #333333;
}
 
h2 {
	text-align: center;
	font-family: 'Roboto', cursive;
	font-size: 1.25em;
	color: #333333;
}
 
h3 {
	font-family: 'Source Sans Pro', italic;
	font-variant: small-caps;
	color: #adadad;
	font-size: 1.75em;
}

a {
	color: inherit;
	text-decoration: none;
}
 
a:hover {
	color: #333333;
}
 
body {
	margin: auto;
	background-image: url(seigaiha.png);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}
